@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: 'UncutSans', sans-serif;
    @apply bg-white/90 text-gray-700 dark:bg-gray-950 dark:text-gray-300;
  }


  @font-face {
    font-family: 'UncutSans';
    src:
      local('UncutSans'),
      url('/fonts/uncut/woff2/UncutSans-Bold.woff2') format('woff2');
    src:
      local('UncutSans'),
      url('/fonts/uncut/woff/UncutSans-Bold.woff') format('woff');
    font-weight: 700;
  }

  @font-face {
    font-family: 'UncutSans';
    src:
      local('UncutSans'),
      url('/fonts/uncut/woff2/UncutSans-Semibold.woff2') format('woff2');
    src:
      local('UncutSans'),
      url('/fonts/uncut/woff/UncutSans-Semibold.woff') format('woff');
    font-weight: 600;
  }

  @font-face {
    font-family: 'UncutSans';
    src:
      local('UncutSans'),
      url('/fonts/uncut/woff2/UncutSans-Medium.woff2') format('woff2');
    src:
      local('UncutSans'),
      url('/fonts/uncut/woff/UncutSans-Medium.woff') format('woff');
    font-weight: 500;
  }

  @font-face {
    font-family: 'UncutSans';
    src:
      local('UncutSans'),
      url('/fonts/uncut/woff2/UncutSans-Regular.woff2') format('woff2');
    src:
      local('UncutSans'),
      url('/fonts/uncut/woff/UncutSans-Regular.woff') format('woff');
    font-weight: 400;
  }
}


/* shiki 代码主题 */
html.dark .astro-code {
  background-color: var(--shiki-dark-bg) !important;
}

html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
